<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}راهنمای مهاجر{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-4">
  <nav class="bg-white shadow p-4 mb-6 flex justify-between">
    <div><a href="/">پرووب</a></div>
    <div>
      {% if user.is_authenticated %}
        <a href="/dashboard/">داشبورد</a> |
        <a href="/accounts/logout/">خروج</a>
        <a href="main/rent_create.html">اجاره</a>
      {% else %}
        <a href="/accounts/login/">ورود</a> |
        <a href="/register/">ثبت‌نام</a>
      {% endif %}
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
